body {
width:100%; 
/* background-image: url("https://cdn.hipwallpaper.com/i/97/43/NxZ2dn.jpg"); */
    /* backgrpuond-repeat: no-repeat; */
}

.container {
    width:750px;
    margin: 5px auto;
}

.scoreboard {
    padding-left: 2%;
    /* margin-left: 1%; */
}

 div, .jumbotron, h1 {
    font-family: "Lobster", cursive;
}

#lever {
    padding: 0;  
} 


/* 
h1 {
    color: red !important;
} */

/* .lever-img {

} */

.lever-img {
    overflow:hidden;
    width: 100%;
    height: 100%;
}
/* div div div img:click {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  } */