body {
width:100%; 
/* background-image: url("https://cdn.hipwallpaper.com/i/97/43/NxZ2dn.jpg"); */
    /* backgrpuond-repeat: no-repeat; */
}

.container {
    width:750px;
    margin: 5px auto;
}

.scoreboard {
    padding-left: 2%;
    /* margin-left: 1%; */
}

 div, .jumbotron, h1 {
    font-family: "Lobster", cursive;
}

#lever {
    padding: 0;  
} 


/* 
h1 {
    color: red !important;
} */

/* .lever-img {

} */

.lever-img {
    overflow:hidden;
    width: 100%;
    height: 100%;
}
/* div div div img:click {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  } */
  .slot-screen {
height: 500px;


  }






  .vertical .carousel-inner {
    height: 100%;
  }
  
  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
       -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
         -o-transition: 0.6s ease-in-out top;
            transition: 0.6s ease-in-out top;
  }
  
  .carousel.vertical .active {
    top: 0;
  }
  
  .carousel.vertical .next {
    top: 100%;
  }
  
  .carousel.vertical .prev {
    top: -100%;
  }
  
  .carousel.vertical .next.left,
  .carousel.vertical .prev.right {
    top: 0;
  }
  
  .carousel.vertical .active.left {
    top: -100%;
  }
  
  .carousel.vertical .active.right {
    top: 100%;
  }
  
  .carousel.vertical .item {
      left: 0;
  }​