body {
width:100%; 
background-image: url("https://cdn.hipwallpaper.com/i/97/43/NxZ2dn.jpg");
}

.container {
    width:750px;
    margin: 5px auto;
}

.scoreboard {

    margin: 5px;
}


 div, .jumbotron, h1 {
    font-family: "Lobster", cursive;

}
/* 
h1 {
    color: red !important;
} */

